name: CI

on: 
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
      - "zmoog/**"

jobs:
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: 'latest'
  test:
    name: Run tests
    runs-on: 'ubuntu-latest'
    needs: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
      - run: make test
  build:
    name: Build binaries
    runs-on: 'ubuntu-latest'
    needs: test
    strategy:
      matrix:
        goosarch:
          - 'darwin/amd64'
          - 'darwin/arm64'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
      - run: make build
